/* Estilização da página */
.page {
  background-color: #fefaf2;
  color: #8D6E46;
  font-family: 'Playfair Display', serif;
  text-align: center;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
}

/* Cabeçalho elegante */
.header {
  font-family: 'Geist', sans-serif;
  margin-bottom: 30px;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: #B9995A;
}

.date {
  font-size: 1.6rem;
  font-style: italic;
  font-family: 'Playfair Display Italic', serif;
  color: #8D6E46;
}

/* Conteúdo principal */
.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.invitationTitle {
  font-family: 'Geist', sans-serif;
  font-size: 1.6rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.invitationSubTitle {
  font-family: 'Playfair Display', serif;
  font-size: 1.2rem;
  margin-bottom: 20px; /* Adicionando mais espaço abaixo do subtítulo */
  font-style: italic;
}

/* Estilização dos selects e labels */
.selectWrapper {
  margin-bottom: 20px; /* Aumentando o espaço entre os selects */
  text-align: center; /* Centralizando as labels */
  width: 100%;
  max-width: 350px;
}

/* Estilizando as labels */
.selectWrapper label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.1rem;
  font-family: 'Playfair Display', serif;
}

/* Estilização do select */
.customSelect {
  width: 100%;
  padding: 12px;
  font-size: 1.1rem;
  font-family: 'Playfair Display', serif;
  color: #8D6E46;
  background-color: #fcf7f1;
  border: 2px solid #C0A77D;
  border-radius: 10px;
  appearance: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo hover e foco no select */
.customSelect:hover {
  border-color: #B9995A;
}

.customSelect:focus {
  border-color: #8D6E46;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

/* Botão enviar */
.sendButton {
  margin-top: 20px;
}

.sendButton button {
  background-color: #B9995A;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 1.1rem;
  font-family: 'Playfair Display', serif;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sendButton button:hover {
  background-color: #8D6E46;
}

/* Estilização do rodapé */
.footer {
  font-size: 1.1rem;
  color: #8D6E46;
  font-style: italic;
  font-family: 'Playfair Display Italic', serif;
  margin-top: 20px;
}
.mapLinks {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.mapLinks a {
  text-decoration: none;
}

.icon {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
  filter: brightness(0) sepia(1) saturate(1000%) hue-rotate(30deg) brightness(1.5);
}

.icon:hover {
  transform: scale(1.1);
}

